.button {
    border: 1px solid #e3e3e3;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 16px;
}

.button:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
}
